#snakeboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* h1{
    text-align: center;
    font-family: sans-serif;
    margin-top: 6rem;
    font-size: 4rem;
    color: white;
} */

p{
    text-align: center;
    font-family: sans-serif;
    margin-top: 15rem;
    font-size: 1rem;
    color: white;
}

body{
    background-color: black;
}

#snakeTitle{
    position: absolute;
    top: 2rem;
    left: 37.25%;
}